<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">ArtBoxes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0" >
      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="keyword" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

    </form>
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="onSubmit()">Search</button>
    <div class="navbar-nav mr-auto">
      <div class="vf-same-row-buttons">
        <div class="nav-item active" >
          <a class="nav-link" routerLink="/" routerLinkActive>Home <span class="sr-only">(current)</span></a>
        </div>
        <div class="nav-item">
          <a class="nav-link" routerLink="/dash">Dash</a>
        </div>
      </div>
      <div class="vf-same-row-buttons">
        <a class="nav-link disabled" href="#">Disabled</a>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/register">Register</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>

          </div>

        </div>
      </div>

      <div class="nav-item">

      </div>
    </div>
    <div >

    </div>

    <a routerLink="/register" class="btn btn-outline-primary my-2 my-sm-0">Join</a>
  </div>
</nav>
